# Owner docs for hnslib

approvers:
  - sbangari@microsoft.com
  - souravdas@microsoft.com
  - ppereira@microsoft.com

reviewers:
  - sbangari@microsoft.com
  - souravdas@microsoft.com
  - ppereira@microsoft.com